@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: Inter, sans-serif;
}

a{
    text-decoration: none;

}

body {
    overflow-x: hidden;
}

header {
    /* posicionamento */
    z-index: 999;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    /* estilo menu */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px 200px;
    color: #000;
    /* transição */
    transition: 0.5s ease;
}

.logo a{
    font-weight: 700;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
}

.nv-pai {
    position: relative;
}

.nv-pai .nv-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nv-pai .nv-item a {
    position: relative;
    font-weight: 500;
    color: #fff;
    font-size: 1.3em;
    transition: 0.3s ease;
}

.nv-pai .nv-item a:before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.nv-pai .nv-item a:hover:before {
    width: 100%;
}

.nv-pai .nv-item button {
    margin-left: 20px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.3em;
    color: #fff;
    background-color: #005580;
    border: none;
}

.nv-pai .nv-item button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.home {
    padding: 100px 200px ;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home .video-slide {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 171, 255, 0.2); /* Cor da máscara e opacidade */
    pointer-events: none; /* Para que eventos de clique passem pelo overlay */
}

/* Conteudos de texto */

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .content h1{
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content .p-quebra{
    width: 70%;
}

.home .content p{
    margin-bottom: 65px;
    font-size: 20px;
}

.home .content button {
    width: 18rem;
    padding: 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.3em;
    color: #fff;
    background-color: #005580;
    border: none;
}

.home .content button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Icones de media */

.home .media{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}


.home .media a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media a:not(:last-child){
    margin-bottom: 20px;
}

.home .media a:hover{
    transform: scale(1.3);
}

/* Segunda Section */

.passeios{
    height: 3000px;
    padding: 100px 200px 0;
    background-image: url('images/Frame\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.txt-atra {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.txt-atra h4 {
    font-weight: 500;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.txt-atra hr {
    width: 25rem;
    height: 2px;
    background-color: #000;
    border: #000;
}

/* Grid atrações */

.img-atra {
    display: grid;
    margin-top: 50px;
    justify-content: center;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repeat(4, 350px);
    grid-template-areas: 
    "Item-1 Item-1 Item-2 Item-3"
    "Item-1 Item-1 Item-4 Item-5"
    "Item-7 Item-8 Item-6 Item-6"
    "Item-9 Item-10 Item-6 Item-6";
}

.img-atra .a1-g {
    grid-area: Item-1;      /*Bloco Principal cima */
}

.img-atra .a1-p {
    grid-area: Item-2;
}

.img-atra .a2-p {
    grid-area: Item-3;
}

.img-atra .a3-p {
    grid-area: Item-4;
}

.img-atra .a4-p {
    grid-area: Item-5;
}

.img-atra .b1-g {
    grid-area: Item-6;      /*Bloco Principal baixo */
}

.img-atra .b1-p {
    grid-area: Item-7;
}

.img-atra .b2-p {
    grid-area: Item-8;
}

.img-atra .b3-p {
    grid-area: Item-9;
}

.img-atra .b4-p {
    grid-area: Item-10;
}

/* Img-Grid */

.img-atra img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover; /* mantém a proporção da imagem */
    z-index: 8;
}

.gradient{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: relative;
    top: -350px;
    z-index: 9;
}

.gradient-g{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    position: relative;
    top: -700px;
    z-index: 9;
}

/* Texto Card Grid */

.txt-card, .txt-card-g {
    font-family: "Nanum Gothic", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fffded;
    position: absolute;
    z-index: 10;
    padding: 300px 0 0 30px;
    display: flex;
    align-items: center;
}


.txt-card-g {
    padding: 630px 0 0 30px;
}

.txt-card .icon-dest {
    font-size: 1.3rem;
}

.txt-atra .h4-g{
    padding: 600px 0 0 30px;   
}

.card-atra {
    display: block;
    height: 350px;
    width: 350px;
    max-height: 350px;
}

.card-atra-g {
    display: block;
    height: 700px;
    width: 700px;
}

/* equipe */

#equipe{
    margin-top: 100px;
}

.pai-profiles {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 240px;
    height: 320px;
    background-color: #E9F3FF;
    border-radius: 1pc;
    margin-top: 60px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.9);
}

.profile .img-prof-1, .img-prof-2, .img-prof-3 {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    border-radius: 10pc;
}

.img-prof-1 {
    background-image: url(images/profile1.png);
    background-size: cover;
}

.img-prof-2 {
    background-image: url(images/profile2.png);
    background-size: cover;
}

.img-prof-3 {
    background-image: url(images/profile3.png);
    background-size: cover;
}

.profile h5{
    margin-top: 30px;
    font-size: 18px;
}

.profile a{
    width: 50%;
    height: 1.7rem;
    border-radius: 8pc;
    font-weight: 500;
    font-size: 1em;
    color: #fff;
    background-color: #005580;
    border: none; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile a:hover {
    transform: scale(1.1);
}

.newsletter {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    background-color: #005580;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 20rem;
}

.txt-nws {
    color: #fff;
}
.txt-nws h3{
    font-size: 2.3em;
}

.txt-nws p{
    font-size: 1.3em;
}

.ipt-nws {
    display: flex;
    align-items: center;
}

.ipt-nws .txt{
    width: 300px;
    height: 60px;
    padding: 0 0 0 30px;
    font-size: 12px;
    border-radius: 8px 0 0 8px;
}

.ipt-nws .sbm{
    height: 60px;
    width: 75px;
    background-color: #0d263b;
    color: #fff;
    border-radius: 0 8px 8px 0;
}
.ipt-nws .sbm:hover{
    transform: scale(1.2);
}

footer {
    display: block;
    position: absolute;
    left: 0;
    height: 53%;
    width: 100%;
    margin-top: 25rem;
    background-color: #0d263b;
}

footer .principal{
    display: flex;
    justify-content: center;
    align-items: first baseline;
    margin-top: 40px;
    gap: 150px;
}

footer .c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    color: #fff;
}

footer .c .txt-sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
    color: #fff;
}

footer a{ 
    color: #fff;
}

.txt-sub .loc, .tel, .email {
    display: flex;
    align-items: center;
    gap: 10px;
}

.creditos {
    margin-top: 70px;
}

.creditos hr {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border: #fff;
}

.creditos .link {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


/* Resposividade */

/* Resposividade */

