@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'manu';
    src: url('/assets/AutumninSeptember.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: Inter, sans-serif;
}

a{
    text-decoration: none;

}

body {
    overflow-x: hidden;
}

header {
    /* posicionamento */
    z-index: 999;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    /* estilo menu */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px 200px;
    color: #000;
    /* transição */
    transition: 0.5s ease;
}

.logo a{
    font-weight: 700;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
}

.nv-pai {
    position: relative;
}

.nv-pai .nv-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nv-pai .nv-item a {
    position: relative;
    font-weight: 500;
    color: #fff;
    font-size: 1.3em;
    transition: 0.3s ease;
}

.nv-pai .nv-item a:before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.nv-pai .nv-item a:hover:before {
    width: 100%;
}

.nv-pai .nv-item button {
    margin-left: 20px;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.3em;
    color: #fff;
    background-color: #005580;
    border: none;
}

.nv-pai .nv-item button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.home {
    padding: 100px 200px ;
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home .video-slide {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 171, 255, 0.2); /* Cor da máscara e opacidade */
    pointer-events: none; /* Para que eventos de clique passem pelo overlay */
}

/* Conteudos de texto */

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .content h1{
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content .p-quebra{
    width: 70%;
}

.home .content p{
    margin-bottom: 65px;
    font-size: 20px;
}

.home .content button {
    width: 18rem;
    padding: 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.3em;
    color: #fff;
    background-color: #005580;
    border: none;
}

.home .content button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Icones de media */

.home .media{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}


.home .media a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media a:not(:last-child){
    margin-bottom: 20px;
}

.home .media a:hover{
    transform: scale(1.3);
}

/* Segunda Section */

.passeios{
    height: 3000px;
    padding: 100px 200px 0;
    background-image: url('/images/Frame\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.txt-praias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.txt-praias h4 {
    font-weight: 500;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.txt-praias hr {
    width: 25rem;
    height: 2px;
    background-color: #000;
    border: #000;
}

.icon-praias {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    gap: 100px;
    margin-top: 50px;
    transition: 0.3s ease;
}

/* Imagem Hover */

/* Azeda */
.azeda a {
    font-weight: 500;
    margin-top: 50px;
    color: #005580;
    text-decoration: none;
}

.azeda img {
    position: absolute;
    width: 970px;
    height: 550px; 
    margin-top: 50px;
    left: 460px;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.azeda a:hover + img {
    opacity: 1;
}

/* Tartaruga */
.tartaruga a {
    font-weight: 500;
    margin-top: 50px;
    color: #005580;
    text-decoration: none;
}

.tartaruga img {
    position: absolute;
    width: 970px;
    height: 550px; 
    margin-top: 50px;
    left: 460px;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.tartaruga a:hover + img {
    opacity: 1;
}

/* Gériba */
.geriba a {
    font-weight: 500;
    margin-top: 50px;
    color: #005580;
    text-decoration: none;
}

.geriba img {
    position: absolute;
    width: 970px;
    height: 550px; 
    margin-top: 50px;
    left: 460px;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.geriba a:hover + img {
    opacity: 1;
}

/* Forno */
.forno a {
    font-weight: 500;
    margin-top: 50px;
    color: #005580;
    text-decoration: none;
}

.forno img {
    position: absolute;
    width: 970px;
    height: 550px; 
    margin-top: 50px;
    left: 460px;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.forno a:hover + img {
    opacity: 1;
}

/* Ferradura */
.ferradura a {
    font-weight: 500;
    margin-top: 50px;
    color: #005580;
    text-decoration: none;
}

.ferradura img {
    position: absolute;
    width: 970px;
    height: 550px; 
    margin-top: 50px;
    left: 460px;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.ferradura a:hover + img {
    opacity: 1;
}

/* Resposividade */

/* Resposividade */

